@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-indigo-500 text-white font-bold py-2 px-4 rounded;
  }

  .btn-secondary {
    @apply bg-gray-500 text-white font-bold py- px-4 rounded text-sm;
  }

  .btn-success {
    @apply bg-green-500 text-white font-bold py-2 px-4 rounded;
  }

  .btn-danger {
    @apply bg-red-500 text-white font-bold py-2 px-4 rounded;
  }

  .btn-warning {
    @apply bg-yellow-500 text-white font-bold py-2 px-4 rounded;
  }

  .btn-info {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }
}

.iframe {
  position: relative;
  overflow: hidden;
}

.btn-group {
  position: absolute;
  padding-top: 56.25%;
  right: -100%;
  bottom: 40px;
  height: 50px;
  width: 50px;
  font-size: 25px;
  @apply bg-indigo-500 text-white font-bold py-2 px-4 rounded cursor-pointer flex justify-center items-center transition-all duration-300 ease-in-out;
}
.iframe:hover .btn-group {
  right: 40px;
}
